.button {
    margin: 10px 0;
    margin: 0 auto;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.label {
    font-size: 16px;
    font-weight: 700;
}

input {
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    margin-bottom: 15px;
}

.section {
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
}