._container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border: 1px solid black;
    border-radius: 4px;
}

.addContact__title {
    justify-content: center;
    margin-bottom: 30px;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

._label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

._text {
    margin-bottom: 5px;
    font-weight: 500;
}

._input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
}