.app {
    background-color: white;
    margin-top: 5rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 1px solid black;
    padding-left: 10px;
    margin-top: 20px;
}

.label {
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
}